* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
html,
body {
    width: 100%;
    max-width: $max-width;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    @include text($fz-text-xl,Noto Sans JP, $lh-text-xl, $text-black-cl, none);
    background: $white-cl;
    overflow-x: hidden;
    position: relative;
    // @include custom-scrollbar();
    --pdSection: 90px;
    i{
        cursor: pointer;
    }
    a{
        text-decoration: none;
    }
    main{
        width: 100%;
        margin: auto;
        overflow: hidden;
        section{
            &.pd{
                padding: var(--pdSection) 0;
            }
        }
    }
    @include desktop {
        
    }
    @include tablet {
        @include text($fz-text-m,Noto Sans JP, $lh-text-m, $text-black-cl, none);
    }
    @include mobile {
        --pdSection: 10px;
    }
}
